## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.preprocessing import StandardScaler

## Import Dataset

In [2]:
df_pen = sns.load_dataset('penguins')

In [3]:
X = df_pen.drop(['body_mass_g'], axis = 1)
y = df_pen['body_mass_g']

## Data Pre-processing

In [4]:
categorical_x = ['species', 'island', 'sex']
numerical_x = X.drop(categorical_x, axis = 1).columns

In [5]:
## If y is categorical:
# y.fillna(y.mode(), inplace= True)
##If y is numerical
y.fillna(y.mean(), inplace= True)
for i in numerical_x:
    X[i].fillna(X[i].mean(), inplace = True)
    

for i in categorical_x:
    X[i].fillna(X[i].mode().iloc[0], inplace = True)
    
categoricas = pd.get_dummies(X[categorical_x], drop_first=True)
X = pd.concat([categoricas, X[numerical_x]], axis = 1)
variable_names = X.columns

In [6]:
categoricas

,species_Chinstrap,species_Gentoo,island_Dream,island_Torgersen,sex_Male
0,0,0,0,1,1
1,0,0,0,1,0
2,0,0,0,1,0
3,0,0,0,1,1
4,0,0,0,1,0
...,...,...,...,...,...
339,0,1,0,0,1
340,0,1,0,0,0
341,0,1,0,0,1
342,0,1,0,0,0
343,0,1,0,0,1

In [7]:
escalador = StandardScaler()
escalador.fit(X)

X = escalador.transform(X)

## Model implementation

In [8]:
linear_r = LinearRegression()

## Cross - Validation

In [9]:
from sklearn.model_selection import cross_val_score

In [10]:
metricas = cross_val_score(linear_r, X, y, scoring='neg_mean_squared_error', cv=10)

In [11]:
metricas

array([ -73926.44795515, -102886.13502858, -101272.51322135,
       -120773.41754458, -117381.1347245 ,  -88397.67093519,
       -107087.77218328, -105752.79378834,  -57158.62608072,
        -80267.01511167])

In [12]:
pd.DataFrame(metricas).mean()

0   -95490.352657
dtype: float64

## Cross_Validate

In [13]:
from sklearn.model_selection import cross_validate

In [14]:
metricas = cross_validate(
    linear_r, X, y, 
    scoring=['neg_mean_squared_error', 'max_error', 'neg_mean_absolute_error', 'r2'], cv=10)

In [15]:
pd.DataFrame(metricas)

,fit_time,score_time,test_neg_mean_squared_error,test_max_error,test_neg_mean_absolute_error,test_r2
0,0.002976,0.003967,-73926.447955,-697.273361,-234.472494,0.507833
1,0.003473,0.002480,-102886.135029,-827.346046,-243.851143,0.626566
2,0.004464,0.003969,-101272.513221,-795.757535,-238.578186,0.513113
3,0.002977,0.002975,-120773.417545,-727.393271,-286.105008,0.448531
4,0.001984,0.002479,-117381.134724,-748.852644,-287.776716,-0.243709
5,0.001984,0.002479,-88397.670935,-635.492151,-248.458627,0.597667
6,0.003472,0.002975,-107087.772183,-987.227530,-240.008924,0.839243
7,0.002976,0.002975,-105752.793788,-1004.047715,-257.265969,0.548025
8,0.001983,0.005457,-57158.626081,-583.024805,-190.993179,0.775050
9,0.003472,0.002480,-80267.015112,-803.477635,-215.901803,0.605565

In [16]:
pd.DataFrame(metricas).mean()

fit_time                            0.002976
score_time                          0.003224
test_neg_mean_squared_error    -95490.352657
test_max_error                   -780.989269
test_neg_mean_absolute_error     -244.341205
test_r2                             0.521788
dtype: float64

## Ridge

### Ridge CV

In [17]:
from sklearn.linear_model import RidgeCV

In [18]:
ridge_r_cv = RidgeCV(alphas=np.linspace(0.1,10,100), scoring = 'neg_mean_squared_error', cv = 10)

In [19]:
ridge_r_cv.fit(X, y)

RidgeCV(alphas=array([ 0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  0.8,  0.9,  1. ,  1.1,
        1.2,  1.3,  1.4,  1.5,  1.6,  1.7,  1.8,  1.9,  2. ,  2.1,  2.2,
        2.3,  2.4,  2.5,  2.6,  2.7,  2.8,  2.9,  3. ,  3.1,  3.2,  3.3,
        3.4,  3.5,  3.6,  3.7,  3.8,  3.9,  4. ,  4.1,  4.2,  4.3,  4.4,
        4.5,  4.6,  4.7,  4.8,  4.9,  5. ,  5.1,  5.2,  5.3,  5.4,  5.5,
        5.6,  5.7,  5.8,  5.9,  6. ,  6.1,  6.2,  6.3,  6.4,  6.5,  6.6,
        6.7,  6.8,  6.9,  7. ,  7.1,  7.2,  7.3,  7.4,  7.5,  7.6,  7.7,
        7.8,  7.9,  8. ,  8.1,  8.2,  8.3,  8.4,  8.5,  8.6,  8.7,  8.8,
        8.9,  9. ,  9.1,  9.2,  9.3,  9.4,  9.5,  9.6,  9.7,  9.8,  9.9,
       10. ]),
        cv=10, scoring='neg_mean_squared_error')

In [20]:
ridge_r_cv.alpha_

0.1

In [21]:
coeficients = pd.DataFrame(ridge_r_cv.coef_, variable_names, columns = ['Coeficientes'])
coeficients['Magnitude'] = abs(coeficients['Coeficientes'])
coeficients.sort_values('Magnitude', ascending = False).head(5)

                   Coeficientes   Magnitude
species_Gentoo       397.561314  397.561314
flipper_length_mm    262.311004  262.311004
sex_Male             157.480600  157.480600
bill_length_mm       143.839028  143.839028
species_Chinstrap   -138.888358  138.888358

In [22]:
metricas = cross_validate(
    ridge_r_cv, X, y, 
    scoring=['neg_mean_squared_error', 'max_error', 'neg_mean_absolute_error', 'r2'], cv=10)

In [23]:
pd.DataFrame(metricas)

,fit_time,score_time,test_neg_mean_squared_error,test_max_error,test_neg_mean_absolute_error,test_r2
0,2.385759,0.002479,-75800.236263,-716.294629,-232.044885,0.495359
1,2.746846,0.002481,-102992.335145,-827.933922,-243.907434,0.626180
2,2.385759,0.000992,-101207.358695,-794.860811,-238.528227,0.513426
3,2.321795,0.001984,-121331.015504,-731.262409,-286.387830,0.445985
4,2.701693,0.001982,-117434.885179,-745.623031,-288.623096,-0.244279
5,3.164479,0.001985,-89407.525670,-668.204106,-247.233281,0.593071
6,2.855967,0.001982,-107000.071714,-986.981870,-240.956534,0.839375
7,3.155056,0.002480,-105469.904302,-1002.915749,-256.809667,0.549234
8,3.224988,0.001984,-57218.505606,-594.496196,-189.613450,0.774814
9,2.407588,0.001982,-79500.362071,-776.286454,-216.729563,0.609333

In [24]:
pd.DataFrame(metricas).mean()

fit_time                            2.734993
score_time                          0.002033
test_neg_mean_squared_error    -95736.220015
test_max_error                   -784.485918
test_neg_mean_absolute_error     -244.083397
test_r2                             0.520250
dtype: float64

### Ridge Grid Search

In [25]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge

In [26]:
ridge_r = Ridge()

In [27]:
parametros = {'alpha': np.linspace(0.1,10,100)}
ridge_r_cv = GridSearchCV(estimator = ridge_r, 
                            param_grid=parametros, 
                            scoring= 'neg_mean_squared_error',
                            cv=10,)

In [28]:
ridge_r_cv.fit(X, y)

GridSearchCV(cv=10, estimator=Ridge(),
             param_grid={'alpha': array([ 0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  0.8,  0.9,  1. ,  1.1,
        1.2,  1.3,  1.4,  1.5,  1.6,  1.7,  1.8,  1.9,  2. ,  2.1,  2.2,
        2.3,  2.4,  2.5,  2.6,  2.7,  2.8,  2.9,  3. ,  3.1,  3.2,  3.3,
        3.4,  3.5,  3.6,  3.7,  3.8,  3.9,  4. ,  4.1,  4.2,  4.3,  4.4,
        4.5,  4.6,  4.7,  4.8,  4.9,  5. ,  5.1,  5.2,  5.3,  5.4,  5.5,
        5.6,  5.7,  5.8,  5.9,  6. ,  6.1,  6.2,  6.3,  6.4,  6.5,  6.6,
        6.7,  6.8,  6.9,  7. ,  7.1,  7.2,  7.3,  7.4,  7.5,  7.6,  7.7,
        7.8,  7.9,  8. ,  8.1,  8.2,  8.3,  8.4,  8.5,  8.6,  8.7,  8.8,
        8.9,  9. ,  9.1,  9.2,  9.3,  9.4,  9.5,  9.6,  9.7,  9.8,  9.9,
       10. ])},
             scoring='neg_mean_squared_error')

In [29]:
ridge_r_cv.best_estimator_

Ridge(alpha=0.1)

In [30]:
ridge_r_cv.best_params_

{'alpha': 0.1}

In [31]:
ridge_r = Ridge(alpha = ridge_r_cv.best_params_['alpha'])

In [32]:
metricas = cross_validate(
    ridge_r, X, y, 
    scoring=['neg_mean_squared_error', 'max_error', 'neg_mean_absolute_error', 'r2'], cv=10)

In [33]:
pd.DataFrame(metricas)

,fit_time,score_time,test_neg_mean_squared_error,test_max_error,test_neg_mean_absolute_error,test_r2
0,0.004464,0.004969,-73965.670491,-697.685894,-234.445947,0.507572
1,0.002479,0.002974,-102992.335145,-827.933922,-243.907434,0.626180
2,0.002480,0.002485,-101207.358695,-794.860811,-238.528227,0.513426
3,0.001985,0.003474,-120785.759868,-727.565934,-286.115558,0.448475
4,0.002477,0.001986,-117389.275459,-748.532465,-287.863757,-0.243796
5,0.001487,0.001983,-88411.153411,-636.196285,-248.431243,0.597606
6,0.001489,0.002479,-107081.944349,-987.201435,-240.053050,0.839252
7,0.003471,0.002479,-105733.654498,-1003.975183,-257.206878,0.548107
8,0.001980,0.001986,-57159.229810,-583.648213,-190.914151,0.775047
9,0.001984,0.002482,-80209.847868,-801.582967,-215.932045,0.605846

In [34]:
pd.DataFrame(metricas).mean()

fit_time                            0.002430
score_time                          0.002730
test_neg_mean_squared_error    -95493.622959
test_max_error                   -780.918311
test_neg_mean_absolute_error     -244.339829
test_r2                             0.521772
dtype: float64

## LASSO

### LASSO CV

In [35]:
from sklearn.linear_model import LassoCV

In [36]:
lasso_r_cv = LassoCV(alphas=np.linspace(0.1,10,100), cv = 10)

In [37]:
lasso_r_cv.fit(X, y)

LassoCV(alphas=array([ 0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  0.8,  0.9,  1. ,  1.1,
        1.2,  1.3,  1.4,  1.5,  1.6,  1.7,  1.8,  1.9,  2. ,  2.1,  2.2,
        2.3,  2.4,  2.5,  2.6,  2.7,  2.8,  2.9,  3. ,  3.1,  3.2,  3.3,
        3.4,  3.5,  3.6,  3.7,  3.8,  3.9,  4. ,  4.1,  4.2,  4.3,  4.4,
        4.5,  4.6,  4.7,  4.8,  4.9,  5. ,  5.1,  5.2,  5.3,  5.4,  5.5,
        5.6,  5.7,  5.8,  5.9,  6. ,  6.1,  6.2,  6.3,  6.4,  6.5,  6.6,
        6.7,  6.8,  6.9,  7. ,  7.1,  7.2,  7.3,  7.4,  7.5,  7.6,  7.7,
        7.8,  7.9,  8. ,  8.1,  8.2,  8.3,  8.4,  8.5,  8.6,  8.7,  8.8,
        8.9,  9. ,  9.1,  9.2,  9.3,  9.4,  9.5,  9.6,  9.7,  9.8,  9.9,
       10. ]),
        cv=10)

In [38]:
lasso_r_cv.alpha_

4.3

In [39]:
coeficients = pd.DataFrame(lasso_r_cv.coef_, variable_names, columns = ['Coeficientes'])
coeficients['Magnitude'] = abs(coeficients['Coeficientes'])
coeficients.sort_values('Magnitude', ascending = False).head(5)

                   Coeficientes   Magnitude
species_Gentoo       373.650518  373.650518
flipper_length_mm    270.849592  270.849592
sex_Male             166.746614  166.746614
bill_length_mm       133.097267  133.097267
species_Chinstrap   -128.441422  128.441422

In [40]:
metricas = cross_validate(
    lasso_r_cv, X, y, 
    scoring=['neg_mean_squared_error', 'max_error', 'neg_mean_absolute_error', 'r2'], cv=10)

In [41]:
pd.DataFrame(metricas)

,fit_time,score_time,test_neg_mean_squared_error,test_max_error,test_neg_mean_absolute_error,test_r2
0,0.244032,0.001985,-75996.715102,-698.506233,-233.016756,0.494050
1,0.234112,0.001984,-102901.424428,-827.692184,-243.825821,0.626510
2,0.287185,0.002478,-101151.237383,-795.039580,-238.496901,0.513696
3,0.195425,0.002976,-118859.025236,-713.834784,-284.165845,0.457272
4,0.232128,0.002481,-116826.627022,-745.244402,-288.914980,-0.237834
5,0.218239,0.002480,-89375.882785,-669.824711,-246.517578,0.593215
6,0.222207,0.001491,-106973.014370,-987.635535,-241.600927,0.839416
7,0.201376,0.001488,-106730.955491,-1018.608392,-258.386730,0.543844
8,0.176574,0.002481,-58165.608282,-594.215848,-189.034965,0.771087
9,0.183022,0.001984,-79501.217907,-774.333786,-217.530820,0.609329

In [42]:
pd.DataFrame(metricas).mean()

fit_time                            0.219430
score_time                          0.002183
test_neg_mean_squared_error    -95648.170801
test_max_error                   -782.493545
test_neg_mean_absolute_error     -244.149132
test_r2                             0.521059
dtype: float64

### LASSO Grid Search

In [43]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso

In [44]:
lasso_r = Lasso()

In [45]:
parametros = {'alpha': np.linspace(0.1,10,100)}
lasso_r_cv = GridSearchCV(estimator = lasso_r, 
                            param_grid=parametros, 
                            scoring= 'neg_mean_squared_error',
                            cv=10,)

In [46]:
lasso_r_cv.fit(X, y)

GridSearchCV(cv=10, estimator=Lasso(),
             param_grid={'alpha': array([ 0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  0.8,  0.9,  1. ,  1.1,
        1.2,  1.3,  1.4,  1.5,  1.6,  1.7,  1.8,  1.9,  2. ,  2.1,  2.2,
        2.3,  2.4,  2.5,  2.6,  2.7,  2.8,  2.9,  3. ,  3.1,  3.2,  3.3,
        3.4,  3.5,  3.6,  3.7,  3.8,  3.9,  4. ,  4.1,  4.2,  4.3,  4.4,
        4.5,  4.6,  4.7,  4.8,  4.9,  5. ,  5.1,  5.2,  5.3,  5.4,  5.5,
        5.6,  5.7,  5.8,  5.9,  6. ,  6.1,  6.2,  6.3,  6.4,  6.5,  6.6,
        6.7,  6.8,  6.9,  7. ,  7.1,  7.2,  7.3,  7.4,  7.5,  7.6,  7.7,
        7.8,  7.9,  8. ,  8.1,  8.2,  8.3,  8.4,  8.5,  8.6,  8.7,  8.8,
        8.9,  9. ,  9.1,  9.2,  9.3,  9.4,  9.5,  9.6,  9.7,  9.8,  9.9,
       10. ])},
             scoring='neg_mean_squared_error')

In [47]:
lasso_r_cv.best_estimator_

Lasso(alpha=4.3)

In [48]:
lasso_r_cv.best_params_

{'alpha': 4.3}

In [49]:
lasso_r = Lasso(alpha = lasso_r_cv.best_params_['alpha'])

In [50]:
metricas = cross_validate(
    lasso_r, X, y, 
    scoring=['neg_mean_squared_error', 'max_error', 'neg_mean_absolute_error', 'r2'], cv=10)

In [51]:
pd.DataFrame(metricas)

,fit_time,score_time,test_neg_mean_squared_error,test_max_error,test_neg_mean_absolute_error,test_r2
0,0.002977,0.002977,-75451.081330,-698.247621,-233.007022,0.497683
1,0.002480,0.002977,-104116.683066,-843.409886,-247.487116,0.622099
2,0.001970,0.002480,-96261.344109,-763.155953,-234.696579,0.537205
3,0.001983,0.002480,-118295.421935,-709.211903,-283.505490,0.459846
4,0.000993,0.001488,-115954.833740,-738.976830,-290.425022,-0.228597
5,0.002983,0.002969,-89672.383368,-676.516549,-246.280016,0.591866
6,0.001487,0.001489,-106981.656127,-987.971158,-242.875267,0.839403
7,0.001487,0.001488,-107114.895726,-1023.587511,-258.785682,0.542203
8,0.001487,0.002978,-58429.956355,-596.793424,-188.661042,0.770046
9,0.002973,0.002480,-79349.558063,-764.206388,-218.116615,0.610074

In [52]:
pd.DataFrame(metricas).mean()

fit_time                            0.002082
score_time                          0.002381
test_neg_mean_squared_error    -95162.781382
test_max_error                   -780.207723
test_neg_mean_absolute_error     -244.383985
test_r2                             0.524183
dtype: float64

## Elastic net

### Elastic CV

In [53]:
from sklearn.linear_model import ElasticNetCV

In [54]:
elastic_r_cv = ElasticNetCV(alphas=np.linspace(0.1,10,100), l1_ratio = np.linspace(0.01, 0.99, 100), cv = 10)

In [55]:
elastic_r_cv.fit(X, y)

ElasticNetCV(alphas=array([ 0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  0.8,  0.9,  1. ,  1.1,
        1.2,  1.3,  1.4,  1.5,  1.6,  1.7,  1.8,  1.9,  2. ,  2.1,  2.2,
        2.3,  2.4,  2.5,  2.6,  2.7,  2.8,  2.9,  3. ,  3.1,  3.2,  3.3,
        3.4,  3.5,  3.6,  3.7,  3.8,  3.9,  4. ,  4.1,  4.2,  4.3,  4.4,
        4.5,  4.6,  4.7,  4.8,  4.9,  5. ,  5.1,  5.2,  5.3,  5.4,  5.5,
        5.6,  5.7,  5.8,  5.9,  6. ,  6.1,  6.2,  6.3,  6.4,  6.5,  6.6,
        6.7,  6.8,  6.9,  7. ,  7.1,  7.2,  7.3,  7.4,  7.5,  7.6,  7.7,
        7.8,  7.9,  8. ,  8.1,  8.2,  8.3...
       0.65343434, 0.66333333, 0.67323232, 0.68313131, 0.6930303 ,
       0.70292929, 0.71282828, 0.72272727, 0.73262626, 0.74252525,
       0.75242424, 0.76232323, 0.77222222, 0.78212121, 0.7920202 ,
       0.80191919, 0.81181818, 0.82171717, 0.83161616, 0.84151515,
       0.85141414, 0.86131313, 0.87121212, 0.88111111, 0.8910101 ,
       0.90090909, 0.91080808, 0.92070707, 0.93060606, 0.94050505,
       0.95040404, 0.96030303, 0.97020202, 0.98010101, 0.99      ]))

In [56]:
elastic_r_cv.alpha_

0.1

In [57]:
elastic_r_cv.l1_ratio_

0.99

In [58]:
coeficients = pd.DataFrame(elastic_r_cv.coef_, variable_names, columns = ['Coeficientes'])
coeficients['Magnitude'] = abs(coeficients['Coeficientes'])
coeficients.sort_values('Magnitude', ascending = False).head(5)

                   Coeficientes   Magnitude
species_Gentoo       393.822356  393.822356
flipper_length_mm    263.242522  263.242522
sex_Male             157.927410  157.927410
bill_length_mm       144.069201  144.069201
species_Chinstrap   -138.897264  138.897264

In [59]:
metricas = cross_validate(
    elastic_r_cv, X, y, 
    scoring=['neg_mean_squared_error', 'max_error', 'neg_mean_absolute_error', 'r2'], cv=10)

In [60]:
pd.DataFrame(metricas)

,fit_time,score_time,test_neg_mean_squared_error,test_max_error,test_neg_mean_absolute_error,test_r2
0,20.451559,0.002479,-76408.579841,-715.121980,-231.452787,0.491308
1,21.180203,0.000991,-103229.146938,-829.466603,-244.195131,0.625321
2,20.763029,0.003473,-100956.011686,-792.320796,-238.346821,0.514635
3,20.786856,0.000994,-120701.561398,-725.556139,-285.532637,0.448859
4,22.868568,0.001486,-117312.691687,-745.504698,-288.678633,-0.242984
5,20.687656,0.002481,-89407.583757,-669.295610,-247.020391,0.593071
6,21.223828,0.002480,-107003.629732,-987.092951,-240.785291,0.839370
7,22.335865,0.002479,-105659.562870,-1005.874534,-257.041607,0.548423
8,20.276971,0.002478,-57478.241799,-599.392406,-189.057856,0.773792
9,24.461220,0.002478,-79281.117716,-767.790945,-217.139814,0.610410

In [61]:
pd.DataFrame(metricas).mean()

fit_time                           21.503576
score_time                          0.002182
test_neg_mean_squared_error    -95743.812742
test_max_error                   -783.741666
test_neg_mean_absolute_error     -243.925097
test_r2                             0.520220
dtype: float64

### Elastic Grid Search

In [62]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import ElasticNet

In [63]:
elastic_r = ElasticNet()

In [64]:
parametros = {'alpha': np.linspace(0.1,10,100), 'l1_ratio': np.linspace(0.01, 0.99, 100)}
elastic_r_cv = GridSearchCV(estimator = elastic_r, 
                            param_grid=parametros, 
                            scoring= 'neg_mean_squared_error',
                            cv=10,)

In [65]:
elastic_r_cv.fit(X, y)

GridSearchCV(cv=10, estimator=ElasticNet(),
             param_grid={'alpha': array([ 0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  0.8,  0.9,  1. ,  1.1,
        1.2,  1.3,  1.4,  1.5,  1.6,  1.7,  1.8,  1.9,  2. ,  2.1,  2.2,
        2.3,  2.4,  2.5,  2.6,  2.7,  2.8,  2.9,  3. ,  3.1,  3.2,  3.3,
        3.4,  3.5,  3.6,  3.7,  3.8,  3.9,  4. ,  4.1,  4.2,  4.3,  4.4,
        4.5,  4.6,  4.7,  4.8,  4.9,  5. ,  5.1,  5.2,  5.3,  5.4,  5.5,
        5.6,  5.7,  5.8,  5.9,  6. ,  6.1,  6.2,  6.3,  6.4,  6.5,  6.6,
        6.7,  6.8,  6.9,  7. ,  7.1,  7.2,...
       0.70292929, 0.71282828, 0.72272727, 0.73262626, 0.74252525,
       0.75242424, 0.76232323, 0.77222222, 0.78212121, 0.7920202 ,
       0.80191919, 0.81181818, 0.82171717, 0.83161616, 0.84151515,
       0.85141414, 0.86131313, 0.87121212, 0.88111111, 0.8910101 ,
       0.90090909, 0.91080808, 0.92070707, 0.93060606, 0.94050505,
       0.95040404, 0.96030303, 0.97020202, 0.98010101, 0.99      ])},
             scoring='neg_mean_squared_error')

In [66]:
elastic_r_cv.best_estimator_

ElasticNet(alpha=0.1, l1_ratio=0.99)

In [67]:
elastic_r_cv.best_params_

{'alpha': 0.1, 'l1_ratio': 0.99}

In [68]:
elastic_r = ElasticNet(alpha = elastic_r_cv.best_params_['alpha'], l1_ratio = elastic_r_cv.best_params_['l1_ratio'])

In [69]:
metricas = cross_validate(
    elastic_r, X, y, 
    scoring=['neg_mean_squared_error', 'max_error', 'neg_mean_absolute_error', 'r2'], cv=10)

In [70]:
pd.DataFrame(metricas)

,fit_time,score_time,test_neg_mean_squared_error,test_max_error,test_neg_mean_absolute_error,test_r2
0,0.001979,0.001491,-74070.508430,-698.537962,-234.348350,0.506874
1,0.002004,0.001468,-103229.146938,-829.466603,-244.195131,0.625321
2,0.001508,0.001488,-100956.011686,-792.320796,-238.346821,0.514635
3,0.000988,0.001964,-120744.023763,-727.463968,-286.072383,0.448665
4,0.001492,0.001486,-117363.288082,-747.682804,-288.098406,-0.243520
5,0.001488,0.001469,-88457.504207,-638.586964,-248.314903,0.597395
6,0.000973,0.001510,-107061.217719,-987.167503,-240.206949,0.839283
7,0.000994,0.001505,-105725.431335,-1004.299699,-257.177258,0.548142
8,0.001965,0.002482,-57188.749854,-585.232614,-190.700568,0.774931
9,0.001488,0.001488,-80067.865796,-796.921879,-216.072074,0.606544

In [71]:
pd.DataFrame(metricas).mean()

fit_time                            0.001488
score_time                          0.001635
test_neg_mean_squared_error    -95486.374781
test_max_error                   -780.768079
test_neg_mean_absolute_error     -244.353284
test_r2                             0.521827
dtype: float64