## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.preprocessing import StandardScaler

## Import Dataset

In [2]:
df_pen = sns.load_dataset('penguins')

In [3]:
X = df_pen.drop(['body_mass_g'], axis = 1)
y = df_pen['body_mass_g']

## Data Pre-processing

In [4]:
categorical_x = ['species', 'island', 'sex']
numerical_x = X.drop(categorical_x, axis = 1).columns

In [5]:
## If y is categorical:
# y.fillna(y.mode(), inplace= True)
##If y is numerical
y.fillna(y.mean(), inplace= True)
for i in numerical_x:
    X[i].fillna(X[i].mean(), inplace = True)
    

for i in categorical_x:
    X[i].fillna(X[i].mode().iloc[0], inplace = True)
    
categoricas = pd.get_dummies(X[categorical_x], drop_first=True)
X = pd.concat([categoricas, X[numerical_x]], axis = 1)
variable_names = X.columns

In [6]:
escalador = StandardScaler()
escalador.fit(X)

X = escalador.transform(X)

## Model implementation

In [7]:
linear_r = LinearRegression()

## Cross - Validation

In [8]:
from sklearn.model_selection import cross_val_score

In [9]:
metricas = cross_val_score(linear_r, X, y, scoring='neg_mean_squared_error', cv=10)

In [10]:
metricas

array([ -88518.32887519,  -92494.50848003,  -88764.41940317,
       -137871.25730511, -121731.05472199,  -92708.86183285,
        -98692.05583413,  -91905.47616587,  -52355.76220468,
        -58833.95990778])

In [11]:
pd.DataFrame(metricas).mean()

0   -92387.568473
dtype: float64

## Cross_Validate

In [12]:
from sklearn.model_selection import cross_validate

In [13]:
metricas = cross_validate(
    linear_r, X, y, 
    scoring=['neg_mean_squared_error', 'max_error', 'neg_mean_absolute_error', 'r2'], cv=10)

In [14]:
pd.DataFrame(metricas)

,fit_time,score_time,test_neg_mean_squared_error,test_max_error,test_neg_mean_absolute_error,test_r2
0,0.002478,0.002481,-88518.328875,-675.521304,-239.101618,0.410688
1,0.001489,0.004463,-92494.508480,-808.681074,-235.172392,0.664283
2,0.001983,0.001487,-88764.419403,-737.040991,-223.473209,0.573248
3,0.000992,0.001488,-137871.257305,-778.033430,-304.193471,0.370460
4,0.000992,0.000992,-121731.054722,-761.217954,-298.268763,-0.289799
5,0.000992,0.001985,-92708.861833,-639.858076,-253.080079,0.578045
6,0.001984,0.001984,-98692.055834,-953.516755,-235.319421,0.851847
7,0.001488,0.001984,-91905.476166,-673.884947,-250.614796,0.607207
8,0.000993,0.001486,-52355.762205,-550.386594,-181.677906,0.793952
9,0.000992,0.000992,-58833.959908,-556.909867,-184.290675,0.710888

In [15]:
pd.DataFrame(metricas).mean()

fit_time                            0.001438
score_time                          0.001934
test_neg_mean_squared_error    -92387.568473
test_max_error                   -713.505099
test_neg_mean_absolute_error     -240.519233
test_r2                             0.527082
dtype: float64

## Ridge

### Ridge CV

In [16]:
from sklearn.linear_model import RidgeCV

In [17]:
ridge_r_cv = RidgeCV(alphas=np.linspace(0.1,10,100), scoring = 'neg_mean_squared_error', cv = 10)

In [18]:
ridge_r_cv.fit(X, y)

RidgeCV(alphas=array([ 0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  0.8,  0.9,  1. ,  1.1,
        1.2,  1.3,  1.4,  1.5,  1.6,  1.7,  1.8,  1.9,  2. ,  2.1,  2.2,
        2.3,  2.4,  2.5,  2.6,  2.7,  2.8,  2.9,  3. ,  3.1,  3.2,  3.3,
        3.4,  3.5,  3.6,  3.7,  3.8,  3.9,  4. ,  4.1,  4.2,  4.3,  4.4,
        4.5,  4.6,  4.7,  4.8,  4.9,  5. ,  5.1,  5.2,  5.3,  5.4,  5.5,
        5.6,  5.7,  5.8,  5.9,  6. ,  6.1,  6.2,  6.3,  6.4,  6.5,  6.6,
        6.7,  6.8,  6.9,  7. ,  7.1,  7.2,  7.3,  7.4,  7.5,  7.6,  7.7,
        7.8,  7.9,  8. ,  8.1,  8.2,  8.3,  8.4,  8.5,  8.6,  8.7,  8.8,
        8.9,  9. ,  9.1,  9.2,  9.3,  9.4,  9.5,  9.6,  9.7,  9.8,  9.9,
       10. ]),
        cv=10, scoring='neg_mean_squared_error')

In [19]:
ridge_r_cv.alpha_

0.1

In [20]:
coeficients = pd.DataFrame(ridge_r_cv.coef_, variable_names, columns = ['Coeficientes'])
coeficients['Magnitude'] = abs(coeficients['Coeficientes'])
coeficients.sort_values('Magnitude', ascending = False).head(5)

                   Coeficientes   Magnitude
species_Gentoo       428.566912  428.566912
flipper_length_mm    239.303802  239.303802
sex_Male             189.806189  189.806189
bill_length_mm       120.363690  120.363690
species_Chinstrap   -118.749976  118.749976

In [21]:
metricas = cross_validate(
    ridge_r_cv, X, y, 
    scoring=['neg_mean_squared_error', 'max_error', 'neg_mean_absolute_error', 'r2'], cv=10)

In [22]:
pd.DataFrame(metricas)

,fit_time,score_time,test_neg_mean_squared_error,test_max_error,test_neg_mean_absolute_error,test_r2
0,2.571760,0.001487,-91271.368137,-697.143215,-239.700772,0.392359
1,2.492897,0.001487,-92626.620609,-809.308085,-235.312575,0.663803
2,2.590607,0.001488,-88706.685198,-736.105578,-223.422909,0.573526
3,2.229520,0.001487,-137929.967780,-779.061918,-304.192181,0.370192
4,2.129826,0.000991,-121815.160732,-759.250718,-298.713291,-0.290690
5,2.082208,0.000993,-93165.337213,-668.512222,-252.124564,0.575968
6,2.103535,0.000992,-98771.064050,-953.644327,-235.680395,0.851728
7,2.354016,0.000992,-91585.960878,-672.523427,-250.097504,0.608572
8,2.135280,0.001985,-52330.887908,-555.952841,-181.212655,0.794049
9,2.195792,0.001488,-58702.983090,-561.280103,-184.955357,0.711532

In [23]:
pd.DataFrame(metricas).mean()

fit_time                            2.288544
score_time                          0.001339
test_neg_mean_squared_error    -92690.603560
test_max_error                   -719.278243
test_neg_mean_absolute_error     -240.541220
test_r2                             0.525104
dtype: float64

### Ridge Grid Search

In [24]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge

In [25]:
ridge_r = Ridge()

In [26]:
parametros = {'alpha': np.linspace(0.1,10,100)}
ridge_r_cv = GridSearchCV(estimator = ridge_r, 
                            param_grid=parametros, 
                            scoring= 'neg_mean_squared_error',
                            cv=10,)

In [27]:
ridge_r_cv.fit(X, y)

GridSearchCV(cv=10, estimator=Ridge(),
             param_grid={'alpha': array([ 0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  0.8,  0.9,  1. ,  1.1,
        1.2,  1.3,  1.4,  1.5,  1.6,  1.7,  1.8,  1.9,  2. ,  2.1,  2.2,
        2.3,  2.4,  2.5,  2.6,  2.7,  2.8,  2.9,  3. ,  3.1,  3.2,  3.3,
        3.4,  3.5,  3.6,  3.7,  3.8,  3.9,  4. ,  4.1,  4.2,  4.3,  4.4,
        4.5,  4.6,  4.7,  4.8,  4.9,  5. ,  5.1,  5.2,  5.3,  5.4,  5.5,
        5.6,  5.7,  5.8,  5.9,  6. ,  6.1,  6.2,  6.3,  6.4,  6.5,  6.6,
        6.7,  6.8,  6.9,  7. ,  7.1,  7.2,  7.3,  7.4,  7.5,  7.6,  7.7,
        7.8,  7.9,  8. ,  8.1,  8.2,  8.3,  8.4,  8.5,  8.6,  8.7,  8.8,
        8.9,  9. ,  9.1,  9.2,  9.3,  9.4,  9.5,  9.6,  9.7,  9.8,  9.9,
       10. ])},
             scoring='neg_mean_squared_error')

In [28]:
ridge_r_cv.best_estimator_

Ridge(alpha=0.1)

In [29]:
ridge_r_cv.best_params_

{'alpha': 0.1}

In [30]:
ridge_r = Ridge(alpha = ridge_r_cv.best_params_['alpha'])

In [31]:
metricas = cross_validate(
    ridge_r, X, y, 
    scoring=['neg_mean_squared_error', 'max_error', 'neg_mean_absolute_error', 'r2'], cv=10)

In [32]:
pd.DataFrame(metricas)

,fit_time,score_time,test_neg_mean_squared_error,test_max_error,test_neg_mean_absolute_error,test_r2
0,0.001983,0.001985,-88580.932887,-676.041401,-239.127047,0.410271
1,0.002975,0.001488,-92626.620609,-809.308085,-235.312575,0.663803
2,0.001487,0.000992,-88706.685198,-736.105578,-223.422909,0.573526
3,0.001489,0.002479,-137881.935133,-778.249391,-304.193396,0.370411
4,0.001984,0.001986,-121749.440487,-760.810735,-298.362332,-0.289994
5,0.001487,0.001983,-92707.274261,-639.761099,-253.062545,0.578053
6,0.001488,0.000992,-98698.006210,-953.520697,-235.350080,0.851838
7,0.000495,0.001488,-91856.712706,-673.683656,-250.531967,0.607415
8,0.000991,0.000991,-52351.598306,-551.106881,-181.618213,0.793968
9,0.000993,0.000991,-58816.305599,-557.411197,-184.357350,0.710975

In [33]:
pd.DataFrame(metricas).mean()

fit_time                            0.001537
score_time                          0.001538
test_neg_mean_squared_error    -92397.551140
test_max_error                   -713.599872
test_neg_mean_absolute_error     -240.533841
test_r2                             0.527027
dtype: float64

## LASSO

### LASSO CV

In [34]:
from sklearn.linear_model import LassoCV

In [35]:
lasso_r_cv = LassoCV(alphas=np.linspace(0.1,10,100), cv = 10)

In [36]:
lasso_r_cv.fit(X, y)

LassoCV(alphas=array([ 0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  0.8,  0.9,  1. ,  1.1,
        1.2,  1.3,  1.4,  1.5,  1.6,  1.7,  1.8,  1.9,  2. ,  2.1,  2.2,
        2.3,  2.4,  2.5,  2.6,  2.7,  2.8,  2.9,  3. ,  3.1,  3.2,  3.3,
        3.4,  3.5,  3.6,  3.7,  3.8,  3.9,  4. ,  4.1,  4.2,  4.3,  4.4,
        4.5,  4.6,  4.7,  4.8,  4.9,  5. ,  5.1,  5.2,  5.3,  5.4,  5.5,
        5.6,  5.7,  5.8,  5.9,  6. ,  6.1,  6.2,  6.3,  6.4,  6.5,  6.6,
        6.7,  6.8,  6.9,  7. ,  7.1,  7.2,  7.3,  7.4,  7.5,  7.6,  7.7,
        7.8,  7.9,  8. ,  8.1,  8.2,  8.3,  8.4,  8.5,  8.6,  8.7,  8.8,
        8.9,  9. ,  9.1,  9.2,  9.3,  9.4,  9.5,  9.6,  9.7,  9.8,  9.9,
       10. ]),
        cv=10)

In [37]:
lasso_r_cv.alpha_

4.1

In [38]:
coeficients = pd.DataFrame(lasso_r_cv.coef_, variable_names, columns = ['Coeficientes'])
coeficients['Magnitude'] = abs(coeficients['Coeficientes'])
coeficients.sort_values('Magnitude', ascending = False).head(5)

                   Coeficientes   Magnitude
species_Gentoo       406.630220  406.630220
flipper_length_mm    246.610008  246.610008
sex_Male             199.482752  199.482752
bill_length_mm       109.413160  109.413160
species_Chinstrap   -108.229646  108.229646

In [39]:
metricas = cross_validate(
    lasso_r_cv, X, y, 
    scoring=['neg_mean_squared_error', 'max_error', 'neg_mean_absolute_error', 'r2'], cv=10)

In [40]:
pd.DataFrame(metricas)

,fit_time,score_time,test_neg_mean_squared_error,test_max_error,test_neg_mean_absolute_error,test_r2
0,0.165664,0.001488,-90453.128528,-699.097304,-238.438600,0.397807
1,0.156237,0.000992,-92547.231982,-809.670493,-235.276641,0.664092
2,0.126976,0.001984,-86695.324773,-722.076329,-221.704071,0.583196
3,0.157233,0.001984,-137693.227267,-776.643238,-304.022933,0.371273
4,0.138384,0.001984,-121003.207367,-755.798709,-299.406409,-0.282087
5,0.132433,0.000992,-94099.763703,-672.022778,-251.819313,0.571715
6,0.162191,0.001487,-98495.553520,-952.968166,-237.590211,0.852142
7,0.139376,0.000991,-92423.974910,-676.181305,-251.788495,0.604991
8,0.153264,0.001488,-53573.223610,-565.083822,-179.652144,0.789160
9,0.141856,0.001488,-57914.936285,-578.410979,-186.133673,0.715404

In [41]:
pd.DataFrame(metricas).mean()

fit_time                            0.147361
score_time                          0.001488
test_neg_mean_squared_error    -92489.957195
test_max_error                   -720.795312
test_neg_mean_absolute_error     -240.583249
test_r2                             0.526769
dtype: float64

### LASSO Grid Search

In [42]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso

In [43]:
lasso_r = Lasso()

In [44]:
parametros = {'alpha': np.linspace(0.1,10,100)}
lasso_r_cv = GridSearchCV(estimator = lasso_r, 
                            param_grid=parametros, 
                            scoring= 'neg_mean_squared_error',
                            cv=10,)

In [45]:
lasso_r_cv.fit(X, y)

GridSearchCV(cv=10, estimator=Lasso(),
             param_grid={'alpha': array([ 0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  0.8,  0.9,  1. ,  1.1,
        1.2,  1.3,  1.4,  1.5,  1.6,  1.7,  1.8,  1.9,  2. ,  2.1,  2.2,
        2.3,  2.4,  2.5,  2.6,  2.7,  2.8,  2.9,  3. ,  3.1,  3.2,  3.3,
        3.4,  3.5,  3.6,  3.7,  3.8,  3.9,  4. ,  4.1,  4.2,  4.3,  4.4,
        4.5,  4.6,  4.7,  4.8,  4.9,  5. ,  5.1,  5.2,  5.3,  5.4,  5.5,
        5.6,  5.7,  5.8,  5.9,  6. ,  6.1,  6.2,  6.3,  6.4,  6.5,  6.6,
        6.7,  6.8,  6.9,  7. ,  7.1,  7.2,  7.3,  7.4,  7.5,  7.6,  7.7,
        7.8,  7.9,  8. ,  8.1,  8.2,  8.3,  8.4,  8.5,  8.6,  8.7,  8.8,
        8.9,  9. ,  9.1,  9.2,  9.3,  9.4,  9.5,  9.6,  9.7,  9.8,  9.9,
       10. ])},
             scoring='neg_mean_squared_error')

In [46]:
lasso_r_cv.best_estimator_

Lasso(alpha=4.1)

In [47]:
lasso_r_cv.best_params_

{'alpha': 4.1}

In [48]:
lasso_r = Lasso(alpha = lasso_r_cv.best_params_['alpha'])

In [49]:
metricas = cross_validate(
    lasso_r, X, y, 
    scoring=['neg_mean_squared_error', 'max_error', 'neg_mean_absolute_error', 'r2'], cv=10)

In [50]:
pd.DataFrame(metricas)

,fit_time,score_time,test_neg_mean_squared_error,test_max_error,test_neg_mean_absolute_error,test_r2
0,0.001989,0.002476,-89710.953341,-679.663975,-237.291863,0.402748
1,0.001985,0.002478,-93791.519798,-823.220793,-239.418041,0.659575
2,0.000993,0.001487,-84256.852653,-702.908751,-219.406731,0.594919
3,0.001490,0.001485,-136156.335924,-762.493715,-303.279738,0.378290
4,0.000495,0.000992,-120686.021591,-752.247580,-300.231945,-0.278726
5,0.000496,0.000992,-94146.365624,-672.980328,-251.784039,0.571503
6,0.000495,0.000992,-98496.272379,-952.943057,-237.717620,0.852141
7,0.000496,0.001990,-92299.357947,-675.686612,-251.575405,0.605523
8,0.000991,0.000992,-53322.399203,-562.559900,-179.954707,0.790147
9,0.000496,0.000992,-57955.202224,-576.068453,-185.903624,0.715206

In [51]:
pd.DataFrame(metricas).mean()

fit_time                            0.000993
score_time                          0.001488
test_neg_mean_squared_error    -92082.128068
test_max_error                   -716.077316
test_neg_mean_absolute_error     -240.656371
test_r2                             0.529133
dtype: float64

## Elastic net

### Elastic CV

In [52]:
from sklearn.linear_model import ElasticNetCV

In [53]:
elastic_r_cv = ElasticNetCV(alphas=np.linspace(0.1,10,100), l1_ratio = np.linspace(0.01, 0.99, 100), cv = 10)

In [54]:
elastic_r_cv.fit(X, y)

ElasticNetCV(alphas=array([ 0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  0.8,  0.9,  1. ,  1.1,
        1.2,  1.3,  1.4,  1.5,  1.6,  1.7,  1.8,  1.9,  2. ,  2.1,  2.2,
        2.3,  2.4,  2.5,  2.6,  2.7,  2.8,  2.9,  3. ,  3.1,  3.2,  3.3,
        3.4,  3.5,  3.6,  3.7,  3.8,  3.9,  4. ,  4.1,  4.2,  4.3,  4.4,
        4.5,  4.6,  4.7,  4.8,  4.9,  5. ,  5.1,  5.2,  5.3,  5.4,  5.5,
        5.6,  5.7,  5.8,  5.9,  6. ,  6.1,  6.2,  6.3,  6.4,  6.5,  6.6,
        6.7,  6.8,  6.9,  7. ,  7.1,  7.2,  7.3,  7.4,  7.5,  7.6,  7.7,
        7.8,  7.9,  8. ,  8.1,  8.2,  8.3...
       0.65343434, 0.66333333, 0.67323232, 0.68313131, 0.6930303 ,
       0.70292929, 0.71282828, 0.72272727, 0.73262626, 0.74252525,
       0.75242424, 0.76232323, 0.77222222, 0.78212121, 0.7920202 ,
       0.80191919, 0.81181818, 0.82171717, 0.83161616, 0.84151515,
       0.85141414, 0.86131313, 0.87121212, 0.88111111, 0.8910101 ,
       0.90090909, 0.91080808, 0.92070707, 0.93060606, 0.94050505,
       0.95040404, 0.96030303, 0.97020202, 0.98010101, 0.99      ]))

In [55]:
elastic_r_cv.alpha_

0.1

In [56]:
elastic_r_cv.l1_ratio_

0.99

In [57]:
coeficients = pd.DataFrame(elastic_r_cv.coef_, variable_names, columns = ['Coeficientes'])
coeficients['Magnitude'] = abs(coeficients['Coeficientes'])
coeficients.sort_values('Magnitude', ascending = False).head(5)

                   Coeficientes   Magnitude
species_Gentoo       424.383333  424.383333
flipper_length_mm    240.435330  240.435330
sex_Male             190.093789  190.093789
bill_length_mm       120.830639  120.830639
species_Chinstrap   -119.001372  119.001372

In [58]:
metricas = cross_validate(
    elastic_r_cv, X, y, 
    scoring=['neg_mean_squared_error', 'max_error', 'neg_mean_absolute_error', 'r2'], cv=10)

In [59]:
pd.DataFrame(metricas)

,fit_time,score_time,test_neg_mean_squared_error,test_max_error,test_neg_mean_absolute_error,test_r2
0,15.200910,0.001983,-91962.017560,-698.553318,-239.684886,0.387761
1,16.432498,0.000991,-92917.519461,-810.901331,-235.632576,0.662748
2,15.072922,0.001487,-88476.121322,-733.407387,-223.229746,0.574634
3,15.268366,0.001984,-137862.254250,-778.337686,-304.150092,0.370501
4,15.240113,0.001488,-121805.035500,-757.137631,-299.242045,-0.290583
5,15.174601,0.001985,-93598.862092,-675.157504,-251.895743,0.573995
6,15.298126,0.001984,-98778.424737,-953.743058,-236.201360,0.851717
7,15.220752,0.001508,-91304.697061,-671.248472,-249.760185,0.609774
8,15.294635,0.000992,-52460.791488,-564.376269,-180.404310,0.793538
9,16.152237,0.001984,-58488.178535,-568.281072,-185.958764,0.712587

In [60]:
pd.DataFrame(metricas).mean()

fit_time                           15.435516
score_time                          0.001639
test_neg_mean_squared_error    -92765.390201
test_max_error                   -721.114373
test_neg_mean_absolute_error     -240.615971
test_r2                             0.524667
dtype: float64

### Elastic Grid Search

In [61]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import ElasticNet

In [62]:
elastic_r = ElasticNet()

In [63]:
parametros = {'alpha': np.linspace(0.1,10,100), 'l1_ratio': np.linspace(0.01, 0.99, 100)}
elastic_r_cv = GridSearchCV(estimator = elastic_r, 
                            param_grid=parametros, 
                            scoring= 'neg_mean_squared_error',
                            cv=10,)

In [64]:
elastic_r_cv.fit(X, y)

GridSearchCV(cv=10, estimator=ElasticNet(),
             param_grid={'alpha': array([ 0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  0.8,  0.9,  1. ,  1.1,
        1.2,  1.3,  1.4,  1.5,  1.6,  1.7,  1.8,  1.9,  2. ,  2.1,  2.2,
        2.3,  2.4,  2.5,  2.6,  2.7,  2.8,  2.9,  3. ,  3.1,  3.2,  3.3,
        3.4,  3.5,  3.6,  3.7,  3.8,  3.9,  4. ,  4.1,  4.2,  4.3,  4.4,
        4.5,  4.6,  4.7,  4.8,  4.9,  5. ,  5.1,  5.2,  5.3,  5.4,  5.5,
        5.6,  5.7,  5.8,  5.9,  6. ,  6.1,  6.2,  6.3,  6.4,  6.5,  6.6,
        6.7,  6.8,  6.9,  7. ,  7.1,  7.2,...
       0.70292929, 0.71282828, 0.72272727, 0.73262626, 0.74252525,
       0.75242424, 0.76232323, 0.77222222, 0.78212121, 0.7920202 ,
       0.80191919, 0.81181818, 0.82171717, 0.83161616, 0.84151515,
       0.85141414, 0.86131313, 0.87121212, 0.88111111, 0.8910101 ,
       0.90090909, 0.91080808, 0.92070707, 0.93060606, 0.94050505,
       0.95040404, 0.96030303, 0.97020202, 0.98010101, 0.99      ])},
             scoring='neg_mean_squared_error')

In [65]:
elastic_r_cv.best_estimator_

ElasticNet(alpha=0.1, l1_ratio=0.99)

In [66]:
elastic_r_cv.best_params_

{'alpha': 0.1, 'l1_ratio': 0.99}

In [67]:
elastic_r = ElasticNet(alpha = elastic_r_cv.best_params_['alpha'], l1_ratio = elastic_r_cv.best_params_['l1_ratio'])

In [68]:
metricas = cross_validate(
    elastic_r, X, y, 
    scoring=['neg_mean_squared_error', 'max_error', 'neg_mean_absolute_error', 'r2'], cv=10)

In [69]:
pd.DataFrame(metricas)

,fit_time,score_time,test_neg_mean_squared_error,test_max_error,test_neg_mean_absolute_error,test_r2
0,0.002483,0.000988,-88730.857860,-677.106895,-239.103469,0.409273
1,0.001473,0.000994,-92917.519461,-810.901331,-235.632576,0.662748
2,0.000992,0.000992,-88476.121322,-733.407387,-223.229746,0.574634
3,0.001992,0.000982,-137862.254250,-778.337686,-304.150092,0.370501
4,0.000992,0.000992,-121761.619662,-759.794389,-298.615476,-0.290123
5,0.000991,0.000991,-92730.177931,-639.864503,-252.998301,0.577948
6,0.000992,0.000992,-98699.767926,-953.516473,-235.468996,0.851835
7,0.000994,0.000990,-91767.301862,-673.321603,-250.367700,0.607797
8,0.000992,0.000992,-52365.029746,-552.874149,-181.455329,0.793915
9,0.000994,0.001486,-58750.964234,-558.895166,-184.504545,0.711296

In [70]:
pd.DataFrame(metricas).mean()

fit_time                            0.001290
score_time                          0.001040
test_neg_mean_squared_error    -92406.161425
test_max_error                   -713.801958
test_neg_mean_absolute_error     -240.552623
test_r2                             0.526982
dtype: float64